[submodule "go_common"] 
	path = go_common
	url = https://github.com/HarishRMaryada/go_common.git
[submodule "node_payment_gateway"]
	path = node_payment_gateway
	url = https://github.com/HarishRMaryada/node_payment_gateway.git
[submodule "node_core_api"]
	path = node_core_api
	url = https://github.com/HarishRMaryada/node_core_api.git
