[submodule "go_common"] 
	path = go_common
	url = https://github.com/HarishRMaryada/go_common.git
[submodule "node_payment_gateway"]
	path = node_payment_gateway
	url = https://github.com/HarishRMaryada/node_payment_gateway.git
[submodule "node_core_api"]
	path = node_core_api
	url = https://github.com/HarishRMaryada/node_core_api.git
[submodule "node_db"]
	path = node_db
	url = https://github.com/HarishRMaryada/node_db.git
[submodule "deno_products_api"]
	path = deno_products_api
	url = https://github.com/HarishRMaryada/deno_products_api.git
[submodule "react_native_promote_public"]
	path = react_native_promote_public
	url = https://github.com/HarishRMaryada/react_native_promote_public.git
